@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');

:root {
    --primary-bg-color: #4F1787;
    --secondary-bg-color: #FB773C;
    --primary-color: #EB3678;
    --secondary-color: #dfdfdf;
    --button-bg: #FDAF7B;
    --other: #180161;
    --font-family: "Pixelify Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    background-color: var(--primary-bg-color);
}

p {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-color);
}

h3 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 30px 0;
    font-weight: 400;
}

header {
    background-color: var(--other);
    display: flex;
    justify-content: center;
    gap: 50px;
}
header>p {
    margin: 30px 0;
}

main {
    flex: 1;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

footer {
    background-color: var(--other);
    text-align: center;
}
footer>p {
    margin: 30px 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    color: var(--secondary-bg-color);
}

button {
    padding: 7px 15px;
    color: var(--primary-color);
    background-color: var(--button-bg);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    cursor: pointer;
}

button:disabled {
    background-color: var(--secondary-color);
    color: var(--other);
    cursor: default;
}

.round-result-container {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    width: 100%;
    min-height: 200px;
    padding: 20px;
    margin: 20px;
    border: 5px dashed var(--primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 15px;
}

.player-result {
    min-width: 200px;
}

.options-container {
    margin: 30px 0;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.winner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
    text-align: center;
}

@media (max-width: 600px) {
    .round-result-container {
        width: 100vw;
        margin: 0;   
    }
}